@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box
}

.container {
    background-image: url("https://source.unsplash.com/random/?weather,rain,clouds,fog,haze,mist,snow,drizzle,thunderstorm");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px
}

.card {
    width: 80%;
    max-width: 26rem;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    border: 0.3rem solid rgba(255, 255, 255, .125);
    color: white;
    border-radius: 1rem;
    padding: 15px 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #1E3050;
    font-weight: 500;
    padding: 1rem;
    border-radius: 1rem;
    flex: 1;
    margin-top: 1rem;
    margin-right: .8rem;
    font-size: 1.25rem
}

.search input::placeholder {
    color: #1E3050;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 3.5rem;
    height: 3.65rem;
    cursor: pointer
}

.weather-icon {
    width: 8rem
}

.weather h1 {
    font-size: 3.5rem
}

.weather h2 {
    font-size: 2.5rem;
    margin-top: -5px
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 1.1rem;
    margin-bottom: 1rem
}

.col {
    display: flex;
    align-items: center;
    text-align: left
}

.col p {
    margin-left: 10px
}

.humidity,
.wind {
    font-size: 1.2rem
}

.weather {
    display: none;
}

.error {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    display: none
}

@media screen and (max-width: 600px) {
    .card {
        width: 90%;
        max-width: none;
        padding: 20px;
    }

    .search {
        flex-direction: column;
    }

    .search input {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .search button {
        width: 20%;
        height: 3.5rem;
        margin-top: 1rem;
    }

    .details {
        flex-direction: column;
        margin-top: 15px;
        padding: 0 20px;
    }

    .col {
        text-align: center;
        margin-bottom: 1rem;
    }
}